@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MoviesList/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-left:20px;">
<div class="row">
    <div class="col-md-12">
        <h3>Movies List</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" id="getList">Get List</button>
    </div>
</div>

<div class="row" style="padding-top:20px;padding-left:10px;">
    <div class="col-md-10 well">
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody style="font-weight:400;color:brown;">
                
            </tbody>
        </table>
    </div>
</div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        
        var str="";
        $("#getList").click(function () {

            $.ajax({

                url: 'http://localhost:51487/api/Values',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    
                    $.each(data, function (index, movie) {

                        str = str + "<tr>";
                        var entry = "<td>" + movie.Title + "</td><td>" + movie.Genre + "</td><td>" + movie.Year + "</td></tr>";
                        str = str + entry;

                    });

                    $(".table tbody").html(str);
                    //$(".table tbody").html("<tr><td>" + data[0].Title + "</td><td>" + data[0].Genre + "</td><td>" + data[0].Year + "</td></tr>");
            
                },
                error: function () {
                    alert("Some error occurred");
                }

            });

        });

    });

</script>